<ion-view view-title="Vender">
  <ion-content class="padding">
      <ion-list>


    <div class="list card">
      <div class="item item-divider">Mi tiemda Virtual</div>
      <div class="item item-body">
           <a class="button button-block button-positive" href="#/tab/registrar" >
          Registrar Tiemda
        </a>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-divider">Que es lo que ofresco</div>
      <div class="item item-body">
           <a class="button button-block button-positive" href="#/tab/vendedor" >
          Mis Productos
        </a>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-divider">Interaccion con el Mercado</div>
      <div class="item item-body">
           <button class="button button-block button-positive" href="#" >
          Vender
        </button>
      </div>
    </div>

  </ion-list>

  </ion-content>
</ion-view>
