<ion-view view-title="FunBuy">
  <ion-content>
  <ion-list>


    <div class="list card">
      <div class="item item-divider">Fun Buy </div>
      <div class="item item-body" aling="center">
         
        
              <a class="button button-large button-block ion-ios-cart button-light" href="#/tab/comprar">       Comprar</a>
             <br>
             <br>
              <a class="button button-large  button-block ion-ios-pricetags  button-light" href="#/tab/vender" >       Vender</a>
            <br>
            <br>
              <a class="button  button-large button-block ion-settings button-light" href="#/sign-in" ng-hide="userSignedIn()" >    Registrar Usuario</a>

      </div>
    </div>
  </ion-list>
  </ion-content>
</ion-view>

