<ion-view view-title="Comprar">
  <ion-content class="padding">
      <ion-list>


    <div class="list card">
      <div class="item item-divider">Lista de Compras</div>
      <div class="item item-body" >
           <a class="button button-block button-stable button-large " href="#/tab/comprar-l" >
          Lista
        </a>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-divider">Compra nuestra Lista</div>
      <div class="item item-body">
           <a class="button  button-block button-stable button-large" href="#/tab/comprando" >
          Comprar
        </a>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-divider">Nos Vamos de Compras</div>
      <div class="item item-body">
           <a class="button button-block button-stable button-large" href="#/tab/decompras" >
          De Compras
        </a>
      </div>
    </div>

  </ion-list>

  </ion-content>
</ion-view>
