<!--

  tabs.html

Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

<!-- Comprar Tab -->
  <ion-tab title="Comprar" icon-off="ion-ios-cart" icon-on="ion-ios-cart-outline" href="#/tab/comprar">
    <ion-nav-view name="tab-comprar"></ion-nav-view>
  </ion-tab>

 <!-- Vender Tab -->
  <ion-tab title="Vender" icon-off="ion-ios-pricetags" icon-on="ion-ios-pricetags-outline" href="#/tab/vender">
    <ion-nav-view name="tab-vender"></ion-nav-view>
  </ion-tab>


  <!-- FunBuy Tab -->
  <ion-tab title="FunBuy" icon-off="ion-bag" icon-on="ion-card" href="#/tab/funbuy">
    <ion-nav-view name="tab-funbuy"></ion-nav-view>
  </ion-tab>

</ion-tabs>



















