<ion-view view-title="Elija Una Oferta">


<ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="right">
        <a class="button button-clear button-positive" href="#/tab/add-producto/{{lista.$id}}" >
           <i class="ion-plus-circled"></i>
          Otra Oferta
        </a>
      </ion-nav-buttons>

      <ion-nav-back-button>
      </ion-nav-back-button>
</ion-nav-bar>

  <ion-content class="padding">
    <div class="list">
    <a class="item item-icon-left" href="#/tab/ofertas-detail-0">
      <i class="icon ion-star"></i>
      Comprar por Mayor
      <span class="item-note"></span>
    </a>
    <a class="item item-icon-left" href="#/tab/ofertas-detail-1">
      <i class="icon ion-star"></i>
      Descuentos
      <span class="item-note"></span>
    </a>
    <a class="item item-icon-left" href="#/tab/ofertas-detail-2">
      <i class="icon ion-star"></i>
      Regalos
      <span class="item-note"></span>
    </a>
    <a class="item item-icon-left" href="#/tab/ofertas-detail-3">
      <i class="icon ion-star"></i>
      Cupones
      <span class="item-note"></span>
    </a>
    <a class="item item-icon-left" href="#/tab/ofertas-detail-4">
      <i class="icon ion-star"></i>
      Otros
      <span class="item-note"></span>
    </a>
  </div>
 </ion-content>
</ion-view>
