<ion-view view-title="Cupones">

<ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
</ion-nav-bar>

  <ion-content class="padding">
    
     

      

      <label class="item item-input">
            <span class="input-label">Inserta el Codigo de Cupon</span> 
            <input type="text" ng-model="product.cupon">
      </label>

      

       <button class="button button-block button-positive" ng-click="ofertas0()">
        Verificando
      </button>
  </ion-content>
</ion-view>
