<ion-view view-title="Productos Home">
  <ion-nav-buttons side="right" >
    <!--
    <a class="button button-clear button-positive" ng-show="userSignedIn()" href="#/tab/dash-form">
      <i class="ion-plus-circled"></i>
      Publicar
    </a>
  -->
  <a class="button button-clear button-positive"  href="#/tab/dash-form">
      <i class="ion-plus-circled"></i>
      Vende Producto
    </a>
  </ion-nav-buttons> 

  <ion-content>

    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="searchQuery" placeholder="Search Products">
        </label>
        <button class="button button-small">
          Search
        </button>
      </div>

    </div>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="product in products | filter:searchQuery" type="item-text-wrap" href="#/tab/dash/{{product.$id}}">
        <img ng-src="{{product.image_urls['91x121'][0].url}}" >
        <h2>{{product.name}}hello wordk</h2>
        <p>{{product.sale_price | currency}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(product)">
          Delete
        </ion-option-button>
      </ion-item>
      <!--
      <ion-infinite-scroll on-infinite="addItems()"></ion-infinite-scroll>
    -->
    </ion-list>
  </ion-content>
</ion-view>

