<ion-view view-title="Producto" ng-init="loadMap">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{product.image_urls['1080x1440'][0].url}}">
        <h2>{{product.name}}</h2>
        <p>{{product.content.description}}</p>
      </div>
      <div class="item">
        <!--
        <img class="full-image" src="{{product.image_urls['300x400'][0].url}}">-->

        <img src="data:image/jpg;base64,{{product.photo}}" style="max-width: 100%;" ng-if="(product.photo != '')">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-cart"></i>
        Vender
      </a>

    </div>

    <div id="map1" class="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>

