<ion-view view-title="Comprar">
  <ion-content class="padding">
   
 
    <div class="list card">
      <div class="item item-divider">Lista de Compras</div>
      <div class="item item-body">
           <a class="button button-positive" href="#/tab/index-c" ng-hide="userSignedIn()">
          Lista
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Compra nuestra Lista</div>
      <div class="item item-body">
           <a class="button button-positive" href="#/tab/comprando" ng-hide="userSignedIn()">
          
          Comprar
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Nos Vamos de compras</div>
      <div class="item item-body">
           <button class="button button-positive" href="#/" ng-hide="userSignedIn()">
          De Comprar
        </button>
      </div>
    </div>